h1{
    
    text-align: center;
    font-family: sans-serif;

}
p{
    text-align: center;
}
form{
    text-align: center;
}
footer{
     text-align: center;

}

#id1{
    font-family: sans-serif;
}

p{
    text-align: center;

}
body{
    cursor: url(icons8-cursor-de-mano-50\ \(1\).png), auto;
    }